{% extends 'base.html' %}

{% block title %}Series{% endblock %}

{% block content %}
<h1>My Series</h1>

<!-- Add New TV Show Button -->
<a href="{{ url_for('media.add_series') }}" class="add-button">Add New TV Show</a>

<!-- Series Items Container -->
<div class="series-container">
    {% for serie in series %}
    <div class="series-item">
        <h3>{{ serie['title'] }}</h3>
        <p><strong>Rating:</strong> {{ serie['rating'] }}</p>
        <p><strong>Review:</strong> {{ serie['review'] }}</p>

        <!-- Only show Season and Episode if the status is not 'watched' -->
        {% if serie['status'] == 'watching' %}
           <p><strong>Season:</strong> {{ serie['season'] }}, <strong>Episode:</strong> {{ serie['episode'] }}</p>
       {% endif %}

       <p><strong>Status:</strong> {{ serie['status'] }}</p>


        <!-- Action Buttons -->
        <div class="actions">
            <form action="{{ url_for('media.delete_series', id=serie['id']) }}" method="post" style="display:inline;">
                <button type="submit" class="delete-button">Delete</button>
            </form>
            <a href="{{ url_for('media.edit_series', id=serie['id']) }}" class="edit-button">Edit</a>
            <form action="{{ url_for('media.toggle_status', id=serie['id']) }}" method="post">
                <button type="submit" class="watch-button">
                    {% if serie['status'] == 'watching' %}
                        Set status to completed
                    {% else %}
                        Set status to watching
                    {% endif %}
                </button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
