{% extends 'base.html' %}

{% block title %}Series{% endblock %}

{% block content %}
<h1>My Series</h1>
<a href="{{ url_for('media.add_series') }}" class="add-button">Add New TV Show</a>
<ul>
    {% for serie in series %}
        <li>
            <strong>{{ serie['title'] }}</strong>
            - Rating: {{ serie['rating'] }}
            <br>Review: {{ serie['review'] }}
            <br>Season: {{ serie['season'] }}, <br>Episode: {{ serie['episode'] }}
            <br>Status: {{ serie['status'] }}
            <form action="{{ url_for('media.toggle_status', id=serie['id']) }}" method="post">
                <button type="submit">
                    {% if serie['status'] == 'watching' %}
                        Set to watched
                    {% else %}
                        Set to still watching
                    {% endif %}
                </button>
            </form>
        </li>
    {% endfor %}
</ul>
{% for serie in series %}
    <div class="serie">
        <h2>{{ serie.title }}</h2>
        <p>Rating: {{ serie.rating }}</p>
        <p>Review: {{ serie.review }}</p>
        <p>Season: {{ serie.season }} Episode: {{ serie.episode }}</p>
        <p>Status: {{ serie.status }}</p>

        <form action="{{ url_for('media.delete_series', id=serie.id) }}" method="post" style="display:inline;">
            <button type="submit" class="delete-button">Delete</button>
        </form>
        <form action="{{ url_for('media.edit_series', id=serie['id']) }}" method="get" style="display:inline;">
            <button type="submit" class="edit-button">Edit</button>
        </form>
    </div>
{% endfor %}

{% endblock %}